.list-none{
	list-style: none;
}

.mdi-lg{
	font-size: 20px;
}

img.logo-nav{/*
	padding: 5px;
	margin: 10px;*/
	width: 120px;
	height: 40px;
}
img.logo-form{
	width: 250px;
	height: 80px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: 30px;
}
.margin-top-40{
	margin-top: 40px;
}
.margin-top--25{
	margin-top: -25px;
}

table.table-custom thead tr th{
	background-color: #009688;
	color: #FFF;
}
img.emcomp{
	width: 170px;
	height: 100px;
}

p.text-emcomp{
	padding-top: 20px;
	font-size: 18px;
	font-weight: bold;
}



/*Tooltip*/
.tooltip-inner {
  color: #fff;
  line-height: 1.5em;
  background: #444;
  border: none;
  border-radius: 0px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  filter: alpha(opacity=0);
  visibility: visible;
  opacity: 0;
  transition: opacity, transform .2s ease;
  -webkit-transform: translate3d(0, 5px, 0);
  -moz-transform: translate3d(0, 5px, 0);
  -o-transform: translate3d(0, 5px, 0);
  -ms-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
}

.tooltip.in {
  opacity: 1;
  -webkit-transform: translate3d(0, 0px, 0);
  -moz-transform: translate3d(0, 0px, 0);
  -o-transform: translate3d(0, 0px, 0);
  -ms-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #444;
  border-width: 5px 5px 0;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-top-color: #444;
  border-width: 5px 5px 0;
}

.tooltip.top-right .tooltip-arrow {
  right: 5px;
  bottom: 0;
  border-top-color: #444;
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #444;
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #444;
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #444;
  border-width: 0 5px 5px;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-bottom-color: #444;
  border-width: 0 5px 5px;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-bottom-color: #444;
  border-width: 0 5px 5px;
}
select option{
  color: #444;
  font-weight: bold;
}

/**
 * MUI Select Component
 */
.mui-select {
  display: block;
  padding-top: 15px;
  margin-bottom: 20px;
  position: relative;
}

.mui-select:focus {
  outline: 0;
}

.mui-select:focus > select {
  height: 33px;
  margin-bottom: -1px;
  border-color: #009688;
  border-width: 2px;
}

.mui-select > select {
  display: block;
  height: 32px;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNiIgd2lkdGg9IjEwIj48cG9seWdvbiBwb2ludHM9IjAsMCAxMCwwIDUsNiIgc3R5bGU9ImZpbGw6cmdiYSgwLDAsMCwuMjQpOyIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-family: inherit;
  line-height: inherit;
  padding: 0 25px 0 0;
}

.mui-select > select::-ms-expand {
  display: none;
}

.mui-select > select:focus {
  outline: 0;
  height: 33px;
  margin-bottom: -1px;
  border-color: #009688;
  border-width: 2px;
}

.mui-select > select:disabled {
  color: rgba(0, 0, 0, 0.38);
  cursor: not-allowed;
  background-color: transparent;
  opacity: 1;
}

.mui-select > select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.mui-select > select:focus::-ms-value {
  background: none;
  color: rgba(0, 0, 0, 0.87);
}

.mui-select > label {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mui-select:focus > label,
.mui-select > select:focus ~ label {
  color: #009688;
}

.mui-select__menu {
  position: absolute;
  z-index: 2;
  min-width: 100%;
  overflow-y: auto;
  padding: 8px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFF;
  font-size: 16px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mui-select__menu {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
}

@supports (-ms-ime-align: auto) {
  .mui-select__menu {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.mui-select__menu > div {
  padding: 0 22px;
  height: 42px;
  line-height: 42px;
  cursor: pointer;
  white-space: nowrap;
}

.mui-select__menu > div.mui--is-selected {
  background-color: #EEEEEE;
}

.mui-select__menu > div.mui--is-disabled {
  color: rgba(0, 0, 0, 0.38);
  cursor: not-allowed;
}

.mui-select__menu > div:not(.mui-optgroup__label):not(.mui--is-disabled):hover {
  background-color: #E0E0E0;
}

.mui-optgroup__option {
  text-indent: 1em;
}

.mui-optgroup__label {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.9em;
}

.clearfix:before,.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.customFileInput input {
  position: absolute;
  visibility: hidden;
}

.customFileInput .button{
  float: left;
  cursor: pointer;
  font-size: 0.9em;
  line-height: 30px;
  padding: 0 15px;
  font-weight: bold;
}
.customFileInput .fileName {
  float: left;
  cursor: pointer;
  font-size: 0.9em;
  line-height: 30px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 12px;
}

.customFileInput .button {
  background-color: #009688;
  color: #FFF;
  font-weight: bold;
  margin-left: 4px;
}

.customFileInput .fileName {
  color: #444;
  font-style:italic;
}

.customFileInput:hover .button {
  opacity: 0.8;
}

.customFileInput:hover .fileName {
  text-decoration: none;
}

#countUsuario, #countUsuariosMinistrantes{
  padding: 5px;
  font-weight: bold;
  color: #444;
}
.text-ministrantes{
  color: #666;
  font-weight: bold;
  font-size: 12px;
}
ul li span.number-inscricao{
  color: #FFF;
  font-weight: bold;
}